
img {
    object-fit: cover;
    max-width: 100%; /* Cambio en la propiedad */
    margin: 5%;
    height: auto; /* Cambio en la propiedad */
    max-height: 300px; /* Agrega un límite máximo de altura si lo deseas */
}